.reuseModalOverlay {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  position: fixed;
}

.reuseModalParentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.reuseModalHolder {
  width: 100%;
  height: 100%;
  display: flex;
  border: solid 1px #ddd;
  background: #f0f0f0;
  padding: 30px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 99999;
}

.innerRndComponent {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.reuseModalCloseBtn {
  position: fixed;
  top: 10px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #ffffff;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  z-index: 9999999;
}

.gt__title {
  color: #d3531a; }

.gt__image {
  width: 100%; }

.gt strong {
  color: #d3531a !important; }

.banner {
  height: 300px;
  background-image: url(/_next/static/images/gioi-thieu-2-66ff25dd0138d46ccc5592e9c7352f01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .banner__image {
    width: 100%; }

.osac__input {
  border: 1px solid #d3531a; }

.osac__color {
  color: #d3531a; }

.osac__line {
  color: #d3531a; }

.osac__button {
  background: #d3531a;
  color: white; }
  .osac__button:hover {
    background: #ff8744;
    color: black; }

.lh__banner {
  padding: 50px 70px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/osac-a381e.appspot.com/o/osac%2Flien-he-banner.jpg?alt=media&token=1c65d21b-2571-4d85-8dba-e72acdd62bf9");
  background-size: cover;
  background-position: center; }

.lh__title {
  font-size: 40px; }
  .lh__title__content {
    margin: auto;
    margin-top: 10px;
    color: white;
    font-size: 20px; }

.lh__form {
  border-radius: 5px;
  padding: 40px 60px 80px 60px;
  box-shadow: 0 0 10px lightgray; }

.lh__right__image {
  width: 100%; }

.background__white {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 30px; }

@media (min-width: 768px) {
  .lh__title__content {
    width: 550px; } }

@media (min-width: 992px) {
  .lh__banner {
    padding: 90px 70px; }
  .lh__title {
    font-size: 50px; }
    .lh__title__content {
      width: 800px;
      font-size: 30px; } }

@media (min-width: 1200px) {
  .lh__title {
    font-size: 65px; }
    .lh__title__content {
      width: 950px; } }

.Header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100; }
  .Header__Contact {
    padding: 10px 15px;
    text-align: right;
    font-size: 16px !important;
    background-color: #b59153;
    color: white; }
    .Header__Contact__Link {
      color: white; }
      .Header__Contact__Link:hover {
        color: #f1f1f1;
        text-decoration: none; }
    .Header__Contact i {
      cursor: pointer; }
    .Header__Contact i, .Header__Contact span {
      padding: 0 5px; }
    .Header__Contact span {
      font-weight: 100; }
    .Header__Contact__Content {
      display: none; }
  .Header__Navigation {
    position: relative;
    padding: 6px 13px;
    background-color: rgba(250, 244, 193, 0.85); }
  .Header__Logo {
    width: 65px; }
  .Header__Flag {
    position: absolute;
    top: 17px;
    right: 68px; }
    .Header__Flag__Item {
      cursor: pointer;
      width: 25px;
      margin-left: 7px; }
    .Header__Flag__Choosed {
      filter: brightness(50%); }

.Header__Nav {
  position: absolute;
  display: none;
  top: 10px;
  left: 100px; }
  .Header__Nav__Item {
    display: inline-block;
    padding: 10px 10px 11px 15px;
    font-size: 17px;
    font-weight: 700;
    color: #333;
    cursor: pointer; }
    .Header__Nav__Item:hover {
      color: #d3531a;
      border-bottom: 5px solid #d3531a;
      text-decoration: none; }

.Active {
  color: #d3531a;
  border-bottom: 5px solid #d3531a; }

@media (min-width: 768px) {
  .Header__Contact__Content {
    display: inline-block; } }

@media (min-width: 992px) {
  .Header__Nav {
    display: block; }
  .Header__Flag {
    top: 23px;
    right: 20px; } }

.MenuIcon {
  width: 40px;
  height: 40px;
  top: 16px;
  right: 13px;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  z-index: 3;
  cursor: pointer; }
  .MenuIcon__Span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.15s ease-in-out; }
    .MenuIcon__Span:nth-child(1) {
      top: 0px;
      transform-origin: left center; }
    .MenuIcon__Span:nth-child(2) {
      top: 12px;
      transform-origin: left center; }
    .MenuIcon__Span:nth-child(3) {
      top: 24px;
      transform-origin: left center; }

.MenuIcon.Open .MenuIcon__Span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px; }

.MenuIcon.Open .MenuIcon__Span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.MenuIcon.Open .MenuIcon__Span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 28px;
  left: 0px; }

@media (min-width: 992px) {
  .MenuIcon {
    display: none; } }

.SideNav {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  width: 280px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  transform: translateX(-280px);
  opacity: 1;
  padding-top: 0;
  transition: all 0.5s cubic-bezier(0.7, 0.01, 0.25, 0.8); }
  .SideNav__Menu__Header {
    font-family: "lobster";
    color: #d3531a;
    font-size: 33px;
    padding: 10px 0 5px 20px; }
  .SideNav__Link {
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: #686f7a;
    transition: 0.05s; }
    .SideNav__Link:hover {
      text-decoration: none;
      background: #e2e3e4;
      color: #d3531a; }

#sidebar_overlay {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.Footer {
  height: 100%;
  background: #f1f1f1;
  padding: 15px; }
  .Footer__Content {
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; }
    .Footer__Content__Left {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr; }
    .Footer__Content__Right {
      height: 100%; }
  .Footer__Website {
    font-family: 'Lobster', cursive; }
    .Footer__Website__Company {
      font-size: 45px;
      margin-bottom: 0; }
    .Footer__Website__Address {
      margin-top: 0; }
  .Footer__Address {
    display: grid;
    grid-template-columns: 1fr; }
    .Footer__Address__Title {
      font-weight: 700; }
  .Footer__Menu__Link {
    color: #333; }
  .Footer__Title {
    font-weight: 700;
    font-size: 17px; }
  .Footer__Column {
    margin-top: 20px; }
  .Footer__Info {
    margin-top: 5px;
    display: grid;
    color: #333;
    grid-template-columns: 22px 1fr; }
    .Footer__Info__Icon {
      width: 20px; }
    .Footer__Info__Text {
      font-size: 13px;
      line-height: 25px; }

.map__title {
  display: flex; }
  .map__title__item {
    font-weight: bold;
    cursor: pointer;
    padding: 15px; }
    .map__title__item:hover {
      color: #d3531a; }

.map--active {
  color: #d3531a; }

@media (min-width: 576px) {
  .Footer__Content__Left {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 768px) {
  .Footer__Content {
    grid-template-columns: 1fr 1fr; }
    .Footer__Content__Left {
      grid-template-columns: 1fr 1fr; } }

@media (min-width: 992px) {
  .Footer__Content__Left {
    grid-template-columns: 1fr 1fr 1fr; } }

